* {
    margin: 0;
    padding: 0;
}

nav h1 {
    width: max-content;
    margin: auto;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    align-items: center;
    display: flex;
    background-color: rgb(76, 147, 189);
    height: 90px;
}

main {
    min-height: 80vh;
    background-color: #dbcfc7;
    overflow: hidden;
}

footer {
    height: 80px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    color: whitesmoke;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 60%;
    height: 380px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 80px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container label {
    font-size: 30px;
    text-shadow: 2px 2px 6px black;
}

.container input {
    height: 36px;
    width: 35%;
    border-radius: 10px;
    border: none;
    padding: 0 8px;
    box-shadow: 2px 2px 6px black;
}

.container input:focus {
    outline: none;
    border: none;
}

.btn {
    height: 36px;
    width: max-content;
    padding: 0 30px;
    border-radius: 14px;
    text-align: center;
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.753), rgba(0, 255, 0, 0.699));
    color: purple;
    font-size: 15px;
    font-weight: 600;
    border: none;
    box-shadow: 2px 2px 6px black;
}

.currentBtn {
    margin: auto;
    display: block;
}

.board {
    width: 557px;
    height: 213px;
    border: 17px solid #A0522D;
    border-radius: 34px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-family: cursive;
    padding: 16px;
    margin: auto;
}

@media (max-width : 425px) {
    body{
        min-height: auto;
    }

    .container {
        width: 100%;
        margin: 20px 0;
        padding: 0;
        display: grid;
        grid-template-areas: "label label button"
            "input input button"
            "bottom bottom bottom";
    }

    .container input {
        width: 90%;
        grid-area: input;
        margin: auto;
    }

    .btn {
        height: 85%;
        width: 90%;
        margin: auto;
        padding: 0 20px;
        grid-area: button;
        grid-row-end: 3;
        grid-row-start: 1;
        font-size: 30px;
    }

    .currentBtn {
        height: 36px;
        width: max-content;
        padding: 0 30px;
        border-radius: 14px;
        text-align: center;
        background: linear-gradient(45deg, rgba(0, 0, 255, 0.753), rgba(0, 255, 0, 0.699));
        color: purple;
        font-size: 20px;
        font-weight: 600;
        border: none;
        box-shadow: 2px 2px 6px black;
    }

    .container label {
        font-size: 25px;
        grid-area: label;
        margin: auto;
    }

    .board {
        width: 80%;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-area: bottom;
    }
}