* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 500px;
}

.buttons {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
}

.currentBtn {
    grid-area: btn1;
    margin: auto !important;
}

.send {
    grid-area: btn2;
    margin: auto !important;
}

.buttons * {
    margin: 0;
    padding: 0;

}

nav h1 {
    width: max-content;
    margin: auto;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    align-items: center;
    display: flex;
    background-color: #1e3b8ae5;
    height: 90px;
    box-shadow: 0px 5px 20px black;
}

main {
    height: 80vh;
    background-color: #F3F4F6;
    overflow: hidden;
}

footer {
    height: 80px;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 0;
    color: whitesmoke;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 60%;
    min-height: 415px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 80px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container label {
    font-size: 30px;
    text-shadow: 2px 2px 6px black;
}

.container input {
    height: 36px;
    width: 35%;
    border-radius: 10px;
    border: none;
    padding: 0 8px;
    box-shadow: 2px 2px 6px black;
}

.container input:focus {
    outline: none;
    border: none;
}

.btn {
    height: 36px;
    width: max-content;
    padding: 0 30px;
    border-radius: 14px;
    text-align: center;
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.753), rgba(0, 255, 0, 0.699));
    color: purple;
    font-size: 15px;
    font-weight: 600;
    border: none;
    box-shadow: 2px 2px 6px black;
}

.currentBtn {
    margin: auto;
    display: block;
    height: 36px;
    width: max-content;
    padding: 0 30px;
    border-radius: 14px;
    text-align: center;
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.616), rgba(0, 255, 0, 0.432));
    color: purple;
    font-size: 23px;
    font-weight: 800;
    border: none;
    box-shadow: 2px 2px 6px black;
}

.board {
    width: 557px;
    min-height: 213px;
    border: 17px solid #cc8580;
    border-radius: 34px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    text-align: center;
    line-height: 30px;
    justify-content: center;
    font-size: 21px;
    font-family: cursive;
    padding: 16px;
    margin: auto;
}

.send {
    width: max-content;
    margin: auto;
    padding: 12px 16px;
    border-radius: 16px;
    border: none;
    box-shadow: 2px 2px 10px black;
    background-color: darkgreen;
    color: whitesmoke;
    font-size: larger;
    font-weight: 600;
    /* display: none; */
}
.buttons a{
    display: none;
}

@media (max-width : 425px) {

    body {
        background-color: #ce89846c;
        gap: 0;
    }

    .container {
        width: 100%;
        margin: 20px 0;
        padding: 0;
        display: grid;
        gap: 10px;
        grid-template-areas: "label input"
            "button button"
            "bottom bottom";
    }

    main {
        min-height: 80vh;
        margin-bottom: 20px;
        background-color: #ce89843d;
    }

    .container input {
        width: 85%;
        height: 38px;
        grid-area: input;
        margin: auto;
    }

    .btn {
        height: 100%;
        background: #1e3b8ae5;
        color: whitesmoke;
        width: 45%;
        margin: auto;
        padding: 0 20px;
        grid-area: button;
        font-size: 35px;
        font-weight: 800;
    }

    .currentBtn {
        height: 55px;
        width: 180px;
        padding: 0px 5px;
        border-radius: 14px;
        text-align: center;
        background: #1e3b8ae5;
        color: whitesmoke;
        font-size: 18px;
        font-weight: 800;
        border: none;
        box-shadow: 2px 2px 6px black;
        margin-top: 22px;
    }

    .container label {
        font-size: 28px;
        grid-area: label;
        margin: auto;
    }

    .board {
        width: 285px;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-area: bottom;
    }

    nav {
        background-color: black;
        color: whitesmoke;
    }

    footer {
        font-size: 18px;
        height: fit-content;
        padding: 15px 0;
        position: fixed;
        background-color: black;
        color: whitesmoke;
    }
}